/target/
*.zip
**/*.rs.bk
*~
Cargo.lock
resources/imgui.ini
resources/Controls.ini
resources/ptah
resources/ptah.exe
resources/Trephination
resources/Trephination.exe
resources/*.dll
win64
.vscode/
.DS_STORE
*~
*.bin
.cproject
.project
.settings/*
old/*
src/obj/*
*.so
*.dll

.vs/
x64/
~*
assets/*



Trephination.iml
.idea
*(copy).rs
src/shaders/glsl/compile_shaders*
*.env
*swp
*kdev4
android_example/app/build
android_example/.gradle
android_example/app/.cxx
wasm/wasm_example_bg*
wasm/assets
wasm/wasm_example.d.ts
.config
